name: LocalStack Ephemeral Instance Test
on:  pull_request

jobs:
  preview-test:
    permissions: write-all
    name: 'Test ephemeral instance workflow'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Deploy Ephemeral Instance
        uses: jenseng/dynamic-uses@5175289a9a87978dcfcb9cf512b821d23b2a53eb # v1
        with:
          uses: LocalStack/setup-localstack@${{ env.GH_ACTION_VERSION }}
          with: |-
            {
              "github-token": ${{ toJSON(secrets.GITHUB_TOKEN) }},
              "state-backend": "ephemeral",
              "state-action": "start",
              "include-preview": "true",
              "skip-ephemeral-stop": "true",
              "preview-cmd": ${{ toJSON(env.PREVIEW_CMD) }},
              "lifetime": 5,
              "extension-auto-install": "localstack-extension-mailhog",
            }
        env:
          LOCALSTACK_API_KEY: ${{ secrets.LOCALSTACK_API_KEY }}
          GH_ACTION_VERSION: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}
          PREVIEW_CMD: |-
            awslocal s3 mb s3://test-bucket
            awslocal sqs create-queue --queue-name=test-queue
            echo "Deploy is done."
        
      - name: Assert mailhog is installed
        run: |
          sudo apt-get install jq jo
          response=$(curl ${AWS_ENDPOINT_URL}/_localstack/extensions/list)
          match=$(echo "$response" | jq -r '.[] | select(.distribution.name == "localstack-extension-mailhog") | .distribution.name')
          if [ "$match" == "localstack-extension-mailhog" ]; then
            echo "Match found: localstack-extension-mailhog"
          else
            echo "No match found"
            echo $response
            exit 1
          fi

      - name: Check PR Comments for preview text
        id: check-comments
        run: |
          PR_NUMBER=${{ github.event.pull_request.number }}
          TEXT_TO_FIND="Preview for this PR"
          
          # Fetch PR comments
          comments=$(gh api repos/${{ github.repository }}/issues/$PR_NUMBER/comments)

          # Check if the specific text is in the comments
          if echo "$comments" | jq -e --arg text "$TEXT_TO_FIND" '.[] | select(.body | contains($text))' > /dev/null; then
            echo "Found the text in PR comments."
          else
            echo "Text not found in PR comments."
            exit 1
          fi
        env:
          GH_TOKEN: ${{ github.token }}
          
      # We want explicit shutdown
      - name: Shutdown ephemeral instance
        if: ${{ always() }}
        uses: jenseng/dynamic-uses@5175289a9a87978dcfcb9cf512b821d23b2a53eb # v1
        with:
          uses: LocalStack/setup-localstack@${{ env.GH_ACTION_VERSION }}
          with: |-
            {
              "github-token": ${{ toJSON(secrets.GITHUB_TOKEN) }},
              "state-backend": "ephemeral",
              "state-action": "stop"
            }
        env:
          LOCALSTACK_API_KEY: ${{ secrets.LOCALSTACK_API_KEY }}
          GH_ACTION_VERSION: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}
